// Normally mainpage styles
.main
	.main__slider
		.slider
			img
				display: inline-block
				vertical-align: top
			.slick-list
				overflow: hidden
			.slick-track
				height: 400px
			.slick-dots
				margin-top: 15px
				text-align: center
				font-size: 0
				li
					display: inline-block
					vertical-align: top
					button
						width: 10px
						height: 10px
						margin: 0 10px
						-webkit-border-radius: 50%
						border-radius: 50%
						background: #CCC
						font-size: 0
					&.slick-active
						button
							background: #DCAD5C 
	.main__inner
		padding: 50px 0
		text-align: center
		border-bottom: 2px solid #edeef0 
		&:last-child
			border: none
	.main__text
		display: block
		width: percentage(645/970)
		margin: 10px auto 70px
		text-align: center
		p
			text-transform: uppercase
			font-size: 18px
			line-height: 2
			color: #23292c
			+circe-reg
	.main__close
		display: inline-block
		vertical-align: top
		+s(close)


.flts
	padding: 60px 0 50px
	border-bottom: 1px solid #2c363d
	+clr
	> ul
		float: left
		width: percentage(728/970)
		margin: 0 30px
		+justify
		> li
			position: relative
			display: inline-block
			vertical-align: middle
			width: 16.6%
			text-transform: uppercase
			color: #23292c
			font-size: 12px
			+circe-bold
			&:before
				content: ""
				position: absolute
				top: 50%
				left: 0
				width: 3px
				height: 3px
				background: #23292c 
				-webkit-border-radius: 50% 
				border-radius: 50%  
			&:first-child
				&:before
					display: none
	.flts__search
		a
			display: block
			span
				display: block
				margin: 0 auto
				+s(search)
				
.select
	position: relative
	display: inline-block
	vertical-align: middle
	width: 95%
	padding: 40px 0
	margin: 0 1% 0 4%
	cursor: pointer
	font-size: 12px
	text-align: center
	select
		width: 0
		opacity: 0
	&.is-active
		background: #2C363D 
		color: #e6e8e9
.select__reset
	display: none
	position: absolute
	top: -16px
	left: 45%
	+s(close)
	&.is-active
		display: block
.select__text
	position: relative
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	&.is-active
		text-transform: none
		color: #d7ae60
		font-size: 18px
		+p-serif-ital
.select__list
	position: absolute
	display: none
	left: 0
	right: 0
	top: 70%
	z-index: 99999
	padding-bottom: 15px
	overflow-x: hidden
	overflow-y: auto
	background: #2C363D 
	text-transform: none
	color: #9ea5a9
	font-size: 16px
	+p-serif-ital
	li
		padding: 15px 0 
		cursor: pointer
		line-height: 1
		&:hover
			color: #e6e8e9 
			
.products
	padding: 30px 0 10px
	font-size: 0
	.products__item
		position: relative
		display: inline-block
		vertical-align: top
		width: 160px
		margin: 0 80px 10px
		text-align: center
		img
			padding-bottom: 30px
		p
			padding-bottom: 30px
			color: #23292c
			font-size: 14px
			+circe-reg
		&:hover
			margin: -1px 80px 9px
			border: 1px solid #cc9f52 
			img
				opacity: 0
			p
				color: #c7a056
			.products__hover
				display: block
	.products__hover
		display: none
		position: absolute
		top: 35px
		left: 0
		right: 0
		padding: 0 20px
		text-align: center
		font-size: 16px
		
		
.contacts
	.contacts__top
		min-height: 670px
		padding: 95px 155px
		background: url("../img/contacts-bg.jpg")
		text-align: center
		+cover
		span
			display: inline-block
			vertical-align: top
			padding-bottom: 40px
			text-transform: uppercase
			letter-spacing: 5px
			color: #e6e8e9
			font-size: 12px
			line-height: 1
			+circe-bold
		p
			display: inline-block
			vertical-align: middle
			padding-bottom: 30px
			color: #FFF 
			font-size: 20px
			line-height: 1.8
			+p-slab-reg
	.main__text
		text-align: center
	.contacts__wrap
		padding: 0 40px
		margin-left: -8%
		text-align: left
	.contacts__delivery
		display: inline-block
		vertical-align: top
		width: 25%
		margin-left: 8%
		.h5
			margin-bottom: 40px
		p
			padding-bottom: 40px
			color: #23292c
			font-size: 14px
			line-height: 2.4
			+circe-reg
	.contacts__phone
		margin: 20px 0 60px
		p
			text-transform: uppercase
			color: #23292c
			font-size: 30px
			line-height: 1.2
			+circe-reg
	.contacts__map
		width: 100% 
		height: 470px
		margin: 20px 0
	.contacts__adress
		p
			text-transform: uppercase
			color: #23292c
			font-size: 12px
			line-height: 2
			letter-spacing: 1.5px
			+circe-bold
	.contacts__mail
		padding: 200px 0
		> a
			display: block
			margin-bottom: 20px
			text-transform: uppercase
			letter-spacing: 10px
			color: #d7ae60
			font-size: 18px
			+circe-bold


.basket
	font-size: 0
	min-height: 700px
	margin-bottom: 90px
	background-image: linear-gradient(to right, #273035 0%, #273035 50%, #2C363D 50%, #2C363D 100%)
	.basket__inn
		display: inline-block
		vertical-align: top
		width: 50%
		height: 100%
		&.order
			width: 49.9%
			padding: 70px 40px 70px 80px
			background: #273035
		&.delivery
			padding: 70px 100px 70px 40px
			background: #2C363D
	.basket__title
		display: block
		padding-bottom: 85px
		color: #FFF 
		p
			text-transform: uppercase
			letter-spacing: 3px
			font-size: 17px
			+circe-bold
			i
				text-transform: none
				font-size: 24px
				font-style: normal
				+p-serif-ital

.order
	.basket__title
		margin-left: 50px
	.order__item
		position: relative
		margin-bottom: 30px
		+clr
	.order__close
		position: absolute
		top: 45%
		left: -50px
		display: block
		cursor: pointer
		+s(close2) 
	.order__img
		float: left
		margin-right: 20px
		font-size: 0
	.order__text
		position: relative
		overflow: visible
		min-height: 130px
		padding-bottom: 25px
	.order__title
		color: #82929e
		font-size: 16px
		+p-slab-ital
	.order__bottom
		position: absolute
		left: 180px
		right: 0
		bottom: 0
		+clr
	.order__size
		float: left
		min-width: 80px
		padding-bottom: 10px
		.select_order
			padding: 10px
			color: #e6e8e9
			font-size: 14px
			.select__text
				&.is-active
					color: #e6e8e9
					font-size: 14px
	.order__prise
		float: right
		padding: 10px 0
		color: #e6e8e9
		font-size: 14px
		+circe-bold

.select_order
	margin: 0
	padding: 20px 10px
	border-bottom: 2px solid #82929e
	text-align: left
	color: #82929e
	font-size: 10px
	+circe-bold
	&.is-active
		.select__text:after
			+rotate(180)
	.select__text
		display: block
		margin-bottom: -20px
		&:after
			content: ""
			position: absolute
			right: 0
			top: 3px
			+s(arr-select)
		&.is-active
			text-transform: uppercase
			color: #82929e
			font-size: 10px
			+circe-bold
	.select__list
		top: 100%
		margin-top: -5px
		padding: 0 10px 10px
		font-size: 14px
		li
			padding: 10px 0 
			
.select_size
	width: 100px
	margin: 0
	padding: 11px 10px
	border: 2px solid #9ea5a9
	background: #FFF 
	text-align: left
	text-transform: uppercase
	color: #23292c
	font-size: 12px
	+circe-bold
	&.is-active
		background: #FFF
		color: #23292c
		.select__text:after
			+rotate(180)
	.select__text
		display: block
		margin-bottom: -20px
		&:after
			content: ""
			position: absolute
			right: 0
			top: 3px
			+s(arr-select)
		&.is-active
			text-transform: uppercase
			color: #23292c
			font-size: 12px
			+circe-bold
	.select__list
		top: 100%
		margin: -10px -2px 0
		padding: 10px 0px 5px
		border: 2px solid #9ea5a9
		border-top: none
		background: #FFF
		color: #23292c 
		font-size: 12px
		font-weight: bold
		+circe-bold
		li
			padding: 10px
			&:hover
				background: #9ea5a9

.delivery
	.delivery__field
		input
			width: 100%
			padding: 20px 10px
			border-bottom: 2px solid #82929e
			background: transparent 
			text-transform: uppercase
			color: #82929e
			+placeholder
				color: #82929e
				font-size: 10px
				+circe-bold
			&:focus
				border-bottom-color: #FFF
				color: #FFF
				+placeholder
					color: #FFF 
			&.is-error
				border-bottom-color: #ff4a4a 
				color: #ff4a4a
				+placeholder
					color: #ff4a4a
		.select_order
			width: 100% 
	.delivery__btn
		width: 100%
		margin: 40px 0 80px
		padding: 25px 25px 23px
		background: #80929E
		text-transform: uppercase
		letter-spacing: 2px
		color: #FFF   
		font-size: 12px
		+circe-bold


.product
	position: relative
	.product__link
		display: block
		position: fixed
		left: 50%
		z-index: 999999
		&.top
			top: 0
			cursor: default
			+s(prev-d)
			&.is-active
				cursor: pointer
				+s(prev)
		&.bottom
			bottom: 0
			cursor: default
			+s(next-d)
			&.is-active
				cursor: pointer
				+s(next)
	.product__top
		position: relative
		> .product__left, .product__right
			position: absolute
			top: 150px
			z-index: 999
			+clr
		> .product__left
			left: 80px
		> .product__right
			right: 100px
	.product__title
		display: block
		h2
			display: block
			color: #23292c
			font-size: 24px
			font-weight: normal
			line-height: 2.5
			+circe-reg
	.product__social
		display: block
		margin: 20px 0
		a
			display: block
			font-size: 0
	.product__prise
		margin: 80px 0 0
		.line
			margin: 0 0 30px 0
		p
			color: #23292c
			font-size: 24px
			+circe-reg
	.product__size
		display: block
		margin: 10px 0 30px
		font-size: 0
		p
			display: inline-block
			vertical-align: middle
			padding-right: 70px
			text-transform: uppercase
			color: #23292c
			font-size: 12px
			line-height: 2.5
			+circe-bold
	.product__btn
		display: block
		width: 220px
		height: 50px
		padding: 21px 0 20px
		background: #2C363D 
		text-align: center
		text-transform: uppercase
		color: #FFF
		font-size: 12px
		letter-spacing: 2px
		+circe-bold
	.main__slider
		position: relative
		overflow: hidden
		margin-bottom: -2px
		padding-bottom: 2px
		+clr
		.slider-for
			position: relative
			width: 740px
			height: 700px
			margin: 0 auto
			.slide
				img
					width: auto
					height: 700px 
					margin: 0 auto
					opacity: 0.2
					+tr(opacity 1000ms)
				&.slick-active
					img
						opacity: 1
			.slick-list
				overflow: visible
		.slider-nav-wrap
			+rh(629)
				position: absolute
				top: 400px
				right: 0
				left: 0		
		.slider-nav
			width: 100% 
			border-bottom: 2px solid #edeef0
			padding: 0 118px 0 100px
			+clr
			+rh(629)
				&.is-fixed
					position: fixed
					bottom: 1px
					top: auto
					right: 0
				&.is-bottom
					top: auto
					bottom: -150px	
			.slick-list
				float: right
				overflow: visible
			.slide
				margin: 0 18px -2px 18px
				padding: 50px 0
				&.slick-active
					border-bottom: 2px solid #DCAD5C 
				img
					width: 50px
	.product__wrap
		padding: 0 80px
		+clr
	.product__text
		float: left
		width: 65% 
		text-align: left
		span
			display: block
			width: 61px
			height: 61px
			margin-bottom: 45px
			border: 2px solid #c7a056 
			-webkit-border-radius: 50% 
			border-radius: 50% 
			+vertical
			i
				display: inline-block
				vertical-align: middle
				+s(i)
		p
			display: block
			margin-left: 80px
			color: #23292c
			font-size: 16px
			+circe-reg
	.product__info
		float: right
		display: table
		width: 25% 
		padding: 30px 20px
		.row
			display: table-row
		.cell
			display: table-cell
	.product__left
		float: left
		&.cell
			color: #82929e
			font-size: 14px
			+circe-reg
	.product__right
		float: right
		&.cell
			color: #23292c
			font-size: 14px
			+circe-reg
	.h3
		padding-bottom: 40px
		        



